@model Twitter.Models.HomeViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="contentContainer">

    <div class="twitter boxContainer">
        <span class="close"></span>
        <form asp-controller="Home" asp-action="Tweet">
            <input asp-for="tweet.content" type="text" class="messageBox" id="postMessage" placeholder="What's happening?" />
            <!-- <input asp-for="tweet.sender.id" type="hidden" value="barismenekse" />-->


            <div class="right-level">
                <label class="wordCounter" id="wordCounter">140</label>
                <button type="submit" class="postButton" id="submitPost">Tweet</button>
            </div>
        </form>


    </div>
</div>
@foreach (var item in Model.tweets)
{

    <div class="Tweet">
        <div class="Foto"><img src="~/avatar.png" alt="Avatar" class="avatar"></div>
        <div class="Box">
            <div class="Gonderen">
                @if (item.isRetweet)
                {
                <p>@item.userRetweet.id adlı kullanıcı retweetledi</p>
                }
                <div class="Adi">@item.tweet.sender.name</div>
                <a href="/Profile/@item.tweet.sender.id"><div class="TwitterId">@item.tweet.sender.id</div> </a>
                <div class="TweetTarihi">@item.tweet.date</div>
            </div>
            <div class="TweetIcerik">
                @item.tweet.content
            </div>
            <div class="TweetImage"></div>
            <div class="Buttons">
                <div class="TweetButton">
                    <a href="#"><i class='fa fa-comment' style='font-size:24px'></i></a>
                </div>
                <div class="ReTweetButton">
                    <form asp-controller="Home" asp-action="Retweet">
                        <input asp-for="tweet.id" type="hidden" value="@item.tweet.id" />
                        <!-- <input asp-for="like.userId" type="hidden" value="barismenekse" />-->
                        @if (@item.currentUserDidRetweet)
                        {
                            <button type="submit">
                                <i class='fa fa-retweet' style="font-size:24px;color:red;"></i>
                            </button>
                        }
                        else
                        {
                            <button type="submit">
                                <i class='fa fa-retweet' style="font-size:24px;"></i>
                            </button>
                        }
                        @item.tweet.retweets.Count
                    </form>
                </div>

                <div class="BegenButton">
                    <form asp-controller="Home" asp-action="Like">
                        <input asp-for="like.tweetId" type="hidden" value="@item.tweet.id" />
                        <!-- <input asp-for="like.userId" type="hidden" value="barismenekse" />-->
                        @if (@item.isLike)
                        {
                            <button type="submit">
                                <i class='fa fa-heart' style="font-size:24px;color:red;"></i>
                            </button>
                        }
                        else
                        {
                            <button type="submit">
                                <i class='fa fa-heart' style="font-size:24px;"></i>
                            </button>
                        }

                        @item.tweet.likes.Count
                    </form>
                </div>
            </div>
        </div>
    </div>
}